#container {
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square {
    display: flex;
    flex: 1;
    outline: 2px solid seashell;
}